<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - WAP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="/myassets/js/user.js"></script>
</head>

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="/">Home</a>
            </li>
        </ol>
    </nav>
    <div class="container">
        <div class="row new-user justify-content-md-center">
            <div class="col col-lg-8">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-4">Welcome!</h1>
                        <div class="lead">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <span>Name:</span>
                                    <p id="name">${user.fname}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <span>Last Name:</span>
                                    <p id="lname">${user.lname}</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <span>Email:</span>
                                    <p id="email">${user.email}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <span>Password:</span>
                                    <p>***********</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Address:</span>
                                <p id="address">${user.address}</p>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <span>City:</span>
                                    <p id="city">${user.city}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <span>State:</span>
                                    <p id="state">${user.state}</p>
                                </div>
                                <div class="form-group col-md-2">
                                    <span>Zip:</span>
                                    <p id="zip">${user.zip}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>