body{
    background-color: #ffcf77;
}
h1 {
    text-align: center;
    font-size: 10em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1em 0 auto;
}
h3 {
    text-align: center;
}
.center {
    text-align: center;
}